.SideBar
  .SideHeader
    .SideHeader__box
      .SideHeader__username マサ
      .SideHeader__icon-list 
        = link_to "#", class: 'SideHeader__icon' do
          = icon('fas', 'edit')
        = link_to "#", class: 'SideHeader__icon' do
          = icon('fas', 'cog')
  .Grouplist
    .Side-group
      .Side-group__name
        グループ名
      .Side-group__message
        メッセージ
